<div class="container">
    <div class="ubicacion">
       <img class="mapa" src="https://i.pinimg.com/736x/fa/91/7d/fa917df2ab22d896337b4f5941b4c1de.jpg" alt="ubicacion">
       <p>Ubicacion: Calle Marte N 27, 19290, Fontanar, Guadalajara</p>
    </div>
    <div class="texto"> 
    <img src="https://img.freepik.com/vector-premium/logotipo-estudio-tatuaje-vintage-estilo-adorno-floral_373096-596.jpg?w=740">
    ¿Quieres ponerte en contacto con nosotros? No lo dudes y rellena el formulario a continuacion, nos pondremos en contacto contigo
     <button class="boton" (click)="rutaFormulario()">FORMULARIO</button>
    </div>  
</div>