.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(36, 35, 35);
    padding: 0 20px; /* Agregar un relleno horizontal */
}

.ubicacion, .texto {
    width: 100%;
    max-width: 800px; /* Ancho máximo del contenido */
    margin: 10px auto; /* Centra horizontalmente y agrega márgenes superior e inferior */
    background-color: rgb(24, 25, 25);
    border-radius: 20px;
    border-width: 5px;
    color: rgb(211, 205, 205);
    font-family: 'Recta';
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mapa{
    width: 50%;
    padding-top: 20px;
}

button {
    width: 100%;
    background-color:  #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Recta';
    font-size: 20px;
}
button:hover{  
    background-color: #5c5d5d;
}

.boton {
    text-decoration: underline; 
}
.texto img {
    margin-top: 20px;
    width: 50%;
    margin-bottom: 20px;
    border-radius: 10px;
}

/* Reglas de medios para dispositivos con un ancho máximo de 768px (tablets y móviles en orientación vertical) */
@media only screen and (max-width: 768px) {
    .ubicacion, .texto {
        padding: 10px; /* Agregar relleno para compensar los márgenes del cuerpo */
        margin-right: 20px; /* Ajustar el margen derecho para evitar que se peguen al borde */
        margin-left: 20px; /* Ajustar el margen izquierdo para evitar que se peguen al borde */
    }

    .texto img {
        width: 100%;
        margin-bottom: 10px;
        border-radius: 0;
    }
}