<div class="container">
    <div class="ubicacion">
        <h1>DIRECCION</h1>
       <img class="mapa" src="https://i.pinimg.com/736x/fa/91/7d/fa917df2ab22d896337b4f5941b4c1de.jpg" alt="ubicacion">
       <h2>Ubicacion: Calle Marte N 27, 19290, Fontanar, Guadalajara</h2>
    </div>
    <div class="texto"> 
    <img src="assets/media/logo_final.png">
    <h2>¿Quieres ponerte en contacto con nosotros? llamanos al 666557788 o rellena el formulario a continuacion:</h2>
     <button class="boton" (click)="rutaFormulario()">FORMULARIO</button>
    </div>  
</div>