<div>
    <section class="paralax section1">
        <img src="assets/media/logo_final.png" alt="Logo del Estudio de Tatuajes" class="logo">
        <h1>Bienvenido a Studio INK</h1>
    </section>
    <section class="paralax section2">
        <h1 >NUESTROS TATUADORES</h1>
        <button class="button" (click)="rutaTatuadores()"> Tatuadores </button>
    </section>
    <section class="paralax section3">
        <h1 >QUIENES SOMOS</h1>
        <p class=texto>Somos un equipo de tatuadores dedicados desde jovenes a expresarnos a través del dibujo. Tras años de experiencia en el sector decidimos unirnos para crear Studio INK. Ven a conocernos o llámanos sin compromiso. ¡Te esperamos! </p>
        <button class="button" (click)="rutaContacto()"> Contacto </button>
    </section>
</div>  

