


.paralax{
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.section1 {    
    display: flex; 
    flex-direction: column;
    font-family: 'Recta';
    background-color: #2e2d2d;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Ajusta el contenedor al 100% de la altura de la ventana */
    overflow: hidden; /* Evita el desbordamiento del contenido */
    background-image: url("C:/Users/imano/imanol-app/src/assets/media/retrato-abuela-rebelde-es-tamano-medio.jpg");
    
}
.logo{
    width: 20%; /* Establece el ancho del contenedor al 20% de la pantalla */
}

.section2{
    display: flex; 
    flex-direction: column;
    font-family: 'Recta';
    background-color: #2e2d2d;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Ajusta el contenedor al 100% de la altura de la ventana */
    overflow: hidden; /* Evita el desbordamiento del contenido */
    background-image: url("C:/Users/imano/imanol-app/src/assets/media/retrato-blanco-negro-mujer-tatuajes-cuerpo.jpg");
    
}

.section3{
    display: flex; 
    flex-direction: column;
    font-family: 'Recta';
    background-color: #2e2d2d;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Ajusta el contenedor al 100% de la altura de la ventana */
    overflow: hidden; /* Evita el desbordamiento del contenido */
    background-image: url("C:/Users/imano/imanol-app/src/assets/media/retrato-monocromo-hombre-tatuajes.jpg");
    
}


h1 {
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    font-family: 'Recta';
    font-size: 3em;
    padding: 10px;
}

h2 {
    color: #e1d5d5;
    margin-bottom: 10px;
    font-family: 'Recta';
    font-size: 1.5em;
    padding: 10px;
}

.texto{
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    font-family: 'Recta';
    font-size: 2em;
    padding: 10px;
}

button {
    width: 30%;
    background-color:  #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Recta';
    font-size: 20px;
}
button:hover{  
    background-color: #5c5d5d;
}

.boton {
    text-decoration: underline; 
}
